*,
*::before,
*::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
    /* makes sure our HTML takes up 100% of the browser window */
    font-size: 100%;
}

body {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300px;
    color: #4c4c4c;
    min-height: 100%;
    /* says the height of the body must be, at minimum, 100% of the window */
}

h1 {
    font-weight: normal;
}

body.landing {
    position: relative;
}

.bodyContainer {
    padding-bottom: 150px;
    min-height: 100%;
    position: relative;
}

.content {
    padding: 50px;
}


/* -------- navigation styles ---------- */

.navbar {
    background: #4285f4;
    color: white;
    font-weight: 500;
    font-size: 22px;
}

.navbar a {
    color: white;
}


.navbar li:hover {
        border-bottom: 2px solid #7b1fa2;
        font-size: 22px;
        color: #7b1fa2;
    }
}

.aa-HeaderImg {
    display: flex;
}

#aa-headerImg {
    vertical-align: middle;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

#aa-headerInfo {
    display: inline-block;
}

/* -------- myInfo styles ---------- */

#myInfo {
    margin: 0 auto;
    font-size: 32px;
    padding: 10px;
}


/* -------- page content styles ----------- */

.left {
    float: left;
    width: 33%;
    padding-bottom: 35px;
}

.details {
    /*display: none;*/
    visibility: hidden;
}

.about-title {
    font-size: 1.7em;
    padding: 20px 0 10px 15px;
}

.about-text {
    padding: 0 15px;
}


/* -------------- Footer styles ---------------*/

footer {
    width: 100%;
    height: 150px;
    padding: 30px;
    position: absolute;
    bottom: 0;
}

.social-icons {
    float: right;
    padding: 0 20px 20px 0;
}

#social {
    border-top: 10px solid #4285f4;
}

#social li {
    display: inline-block;
}

#social li img {
    width: 64px;
    height: 64px;
    -webkit-box-reflect: below 2px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.7, transparent), to(rgba(255, 255, 255, .5)));
    /* reflection is supported by webkit only */
    -webkit-transition: all 0.3s;
    -webkit-transform-origin: 50% 100%;
}

#social li:hover img {
    -webkit-transform: scale(2);
    margin: 0 2em;
    border: 0.1px solid red;
    border-radius: 5.5px;
    background-color: #4285f4;
    background-clip: inherit;
}

#social li:hover+li img,
#social li.prev img {
    -webkit-transform: scale(1.5);
    margin: 0 1.5em;
}

.rotate {
    transform: rotate(90deg);
    /*transform: rotate(180deg);*/
    transition: .3s;
}

.rotate-initial {
    transform: rotate(0deg);
    transition: .3s;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0;
}


/* -------- Styles for tablet size devices ---------- */

@media all and (max-width: 800px) {
    html {
        font-size: 120%;
    }
    /* -------- navigation styles ---------- */
    .aa-navbar {
        padding: 0;
    }
    .aa-navLinks {
        justify-content: space-around;
    }
}


/* -------- Styles for mobiles ---------- */

@media all and (max-width: 600px) {
    html {
        font-size: 112%;
    }
    /* -------- navigation styles ---------- */
    .aa-navLinks {
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
        padding: 0;
        width: 400px;
    }
    .aa-navLinks a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .aa-navLinks li:last-of-type a {
        border-bottom: none;
    }
    #aa-headerImg {
        display: block;
        float: none;
        margin: 0 auto;
    }
    #aa-headerInfo {
        display: block;
    }
    /* -------------- Footer styles ---------------*/
    footer {
        width: 100%;
        height: 150px;
        margin: 0 auto;
        padding: 10px;
    }
    .social-icons {
        float: none;
        margin: 0 auto;
    }
}